$content-header-color: #ccc;

.t-content-header {
    border-bottom: 1px solid $content-header-color;
    margin: 15px 0;
}

.t-content-header small {
    font-size: 20px;
    color: $content-header-color;
}