@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$btn-length: 100px;

.main {
    height: 100vh;

    display: grid;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        't-header'
        't-content'
        't-footer';
}

.btn {
    width: $btn-length;
}

.btn-edit {
    display: inline-block;
    margin-right: 10px;
}

.tags-width {
    width: 130px;
}

.tag-margin {
    margin-right: 5px;
    margin-bottom: 5px;
}